body{
    background-image: url('candy-crush-background-2.png');
}
.grid{
    margin-top: 30px;
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap ;
    background-color: darkslateblue ;
}
.grid div{
    width: 70px;
    height: 70px;
    
}
.score-board{
    margin-top: 30px;
    border: 1px solid black;
    color: brown;
    width: 150px;
    padding-left: 10px;
    text-shadow: 2px 1px chocolate;
    letter-spacing: 3px;
    box-shadow: 5px 10px 20px red inset;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}  
